header > div > div {
  display: flex;
  position: relative;
  align-items: center;
}
input {
  font-size: var(--font-size-4);
  outline: none;
  height: 60px;
  width: 365px;
  border-radius: var(--border-radius-1);
  border: 2px solid var(--color-gray-20);
  background-color: (--color-white);
  padding: 0 10px 0 20px;
}

input:focus {
  border: 2px solid var(--color-gray-100);
}

input::placeholder {
  color: var(--color-gray-20);
}

header > div > div > button {
  position: absolute;
  right: 10px;
}
